 
img {
    margin-top: 20px;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.moods {
    text-align: center
}
  
.redes {
    text-align: center;
}

.redes li {
    padding: 3px 5px;
}

