.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.3cm;
    margin-bottom: 0.3cm;
}

.item-header {
    margin-left: 0.5cm;
}

.item-text {
    width: 50%; 
    height: auto;
}

.link {
    text-decoration: none;
}