extends layout

block content
  h1 Lista de Parágrafos
    
  div(class="inputform" class="w3-container" id="#form")
    form(id="myParaForm")
      label(for="para")
      input(name="para" id="paraText" class="w3-input w3-border w3-light-grey" placeholder="Escreva o paragrafo..." required)
      div(class="w3-center")
        br
        span(id="metodo")
        button(class="w3-button w3-round w3-red w3-hover-white" id="reset") Reset

  div(id="listaPara")

  script(src="/javascripts/scripts.js")